In [16]:
import pandas as pd
import numpy as np

In [17]:
q1 = pd.read_csv('112신고 Q1.csv', index_col = 0)
q2 = pd.read_csv('112신고 Q2.csv', index_col = 0)
q3 = pd.read_csv('112신고 Q3.csv', index_col = 0)
q4 = pd.read_csv('112신고 Q4.csv', index_col = 0)
q5 = pd.read_csv('112신고 Q5.csv', index_col = 0)

In [18]:
q1[q1.date==2018].head(10)

   date   jur_stn  q1 신고
0  2018   서울수서경찰서   3528
0  2018   서울강남경찰서   6013
0  2018   서울종로경찰서   1337
0  2018   서울혜화경찰서   2206
0  2018  서울남대문경찰서   1977
0  2018   서울중부경찰서   2908
0  2018   서울방배경찰서   1299
0  2018   서울서초경찰서   4857
0  2018   서울서부경찰서   2335
0  2018   서울은평경찰서   3933

In [19]:
q1_2018 = q1[q1.date==2018]
q1_2019 = q1[q1.date==2019]
q1_2018['q1 신고'] = q1_2018['q1 신고']*2


q2_2018 = q2[q1.date==2018]
q2_2019 = q2[q1.date==2019]
q2_2018['q2 신고'] = q2_2018['q2 신고']*2


q3_2018 = q3[q3.date==2018]
q3_2019 = q3[q3.date==2019]
q3_2018['q3 신고'] = q3_2018['q3 신고']*2


q4_2018 = q4[q4.date==2018]
q4_2019 = q4[q4.date==2019]
q4_2018['q4 신고'] = q4_2018['q4 신고']*2


q5_2018 = q5[q5.date==2018]
q5_2019 = q5[q5.date==2019]
q5_2018['q5 신고'] = q5_2018['q5 신고']*2

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
q1_2018.head(10)

   date   jur_stn  q1 신고
0  2018   서울수서경찰서   7056
0  2018   서울강남경찰서  12026
0  2018   서울종로경찰서   2674
0  2018   서울혜화경찰서   4412
0  2018  서울남대문경찰서   3954
0  2018   서울중부경찰서   5816
0  2018   서울방배경찰서   2598
0  2018   서울서초경찰서   9714
0  2018   서울서부경찰서   4670
0  2018   서울은평경찰서   7866

In [22]:
q1_2017_value = np.round((q1_2018['q1 신고'] + q1_2019['q1 신고'])/2)
q1_2017 = q1_2018.copy()
q1_2017['q1 신고'] = q1_2017_value.astype(int)
q1_2017['date'] = 2017

q2_2017_value = np.round((q2_2018['q2 신고'] + q2_2019['q2 신고'])/2)
q2_2017 = q2_2018.copy()
q2_2017['q2 신고'] = q2_2017_value.astype(int)
q2_2017['date'] = 2017

q3_2017_value = np.round((q3_2018['q3 신고'] + q3_2019['q3 신고'])/2)
q3_2017 = q3_2018.copy()
q3_2017['q3 신고'] = q3_2017_value.astype(int)
q3_2017['date'] = 2017

q4_2017_value = np.round((q4_2018['q4 신고'] + q4_2019['q4 신고'])/2)
q4_2017 = q4_2018.copy()
q4_2017['q4 신고'] = q4_2017_value.astype(int)
q4_2017['date'] = 2017

q5_2017_value = np.round((q5_2018['q5 신고'] + q5_2019['q5 신고'])/2)
q5_2017 = q5_2018.copy()
q5_2017['q5 신고'] = q5_2017_value.astype(int)
q5_2017['date'] = 2017

In [27]:
q1_2019.head(10)

   date   jur_stn  q1 신고
0  2019   서울수서경찰서   7312
0  2019   서울강남경찰서  10084
0  2019   서울종로경찰서   4663
0  2019   서울혜화경찰서   3499
0  2019  서울남대문경찰서   3451
0  2019   서울중부경찰서   4714
0  2019   서울방배경찰서   2077
0  2019   서울서초경찰서   9423
0  2019   서울서부경찰서   4162
0  2019   서울은평경찰서   6736

In [5]:
q1 = pd.concat([q1_2017, q1_2018, q1_2019])
q2 = pd.concat([q2_2017, q2_2018, q2_2019])
q3 = pd.concat([q3_2017, q3_2018, q3_2019])
q4 = pd.concat([q4_2017, q4_2018, q4_2019])
q5 = pd.concat([q5_2017, q5_2018, q5_2019])

In [6]:
q1.to_csv('112신고 Q1 17년포함_csv')
q2.to_csv('112신고 Q2 17년포함_csv')
q3.to_csv('112신고 Q3 17년포함_csv')
q4.to_csv('112신고 Q4 17년포함_csv')
q5.to_csv('112신고 Q5 17년포함_csv')