In [1]:
import pandas as pd

In [30]:
df = pd.read_csv("raw_data/11.5개시도_교통사고현황.csv")
df.tail()

             date      acc_case ofn_sx ofn_age vic_sx vic_age jur_stn
140949   2019년 8월    차대사람 - 횡단중      남     40대      여  90대 이상    마산중부
140950  2020년 12월  차대사람 - 차도통행중      여     40대      여  90대 이상    창원중부
140951   2019년 4월    차대사람 - 횡단중      남     60대      남  90대 이상   진해경찰서
140952   2019년 5월  차대사람 - 차도통행중      남     20대      남  90대 이상   진해경찰서
140953   2020년 9월      차대차 - 기타      여     40대      남  90대 이상   진해경찰서

In [4]:
df["acc_case"].unique()

array(['차대차 - 측면충돌', '차대차 - 기타', '차대차 - 추돌', '차대사람 - 횡단중', '차량단독 - 기타',
       '차대사람 - 길가장자리구역통행중', '차대사람 - 보도통행중', '차대사람 - 기타', '차대사람 - 차도통행중',
       '차량단독 - 공작물충돌', '차대차 - 정면충돌', '차대차 - 후진중충돌', '차량단독 - 전도전복 - 전도',
       '차량단독 - 주/정차차량 충돌', '차량단독 - 전도전복 - 전복', '차량단독 - 도로외이탈 - 추락',
       '차대사람  - 길가장자리구역통행중', '차대사람  - 횡단중', '차대차  - 추돌', '차대차  - 측면충돌',
       '차량단독  - 기타', '차량단독  - 전도전복 - 전도', '차대사람  - 차도통행중', '차대차  - 기타',
       '차대사람  - 기타', '차대사람  - 보도통행중', '차대차  - 후진중충돌', '차대차  - 정면충돌',
       '차량단독  - 공작물충돌', '차량단독  - 주/정차차량 충돌', '차량단독  - 전도전복 - 전복',
       '차량단독  - 도로외이탈 - 기타', '차량단독  - 도로외이탈 - 추락', '차량단독 - 도로외이탈 - 기타'],
      dtype=object)

In [6]:
df.isnull().sum()

date           0
acc_case       0
ofn_sx         0
ofn_age        0
vic_sx      4427
vic_age        0
jur_stn        0
dtype: int64

In [33]:
#컬럼 바꾸기
df = df.rename(columns = {"jur_stn":"관할서"})
df.head()

       date    acc_case ofn_sx ofn_age vic_sx vic_age   관할서
0  2018년 1월  차대차 - 측면충돌      남     20대      남     50대  서울중부
1  2018년 1월  차대차 - 측면충돌      여     50대      남     70대  서울중부
2  2018년 1월  차대차 - 측면충돌      남     40대      남     50대  서울중부
3  2018년 1월    차대차 - 기타   기타불명     미분류      여     40대  서울중부
4  2018년 1월    차대차 - 기타      남     60대      남     50대  서울중부

## 1. 연도별 정리

+  2017년도 없음

In [34]:
#경찰서 붙여주기
df["관할서"] = df["관할서"]+"경찰서"

In [35]:
# 관할서명  수정
df["관할서"] = df["관할서"].str.replace("마산", "경남마산")                                     
df["관할서"] = df["관할서"].str.replace("창원", "경남창원")
df["관할서"] = df["관할서"].str.replace("수원", "경기수원")
df["관할서"] = df["관할서"].str.replace("진주", "경남진주")
df["관할서"] = df["관할서"].str.replace("진해", "경남진해")
df["관할서"] = df["관할서"].str.replace("세종", "충남세종")

In [36]:
# 18, 19, 20
df_2018 = df[df["date"].str.contains("2018")].reset_index(drop=True)
df_2019 = df[df["date"].str.contains("2019")].reset_index(drop=True)
df_2020 = df[df["date"].str.contains("2020")].reset_index(drop=True)

## 3. 연도별, 관할서별 정리

In [45]:
df_18_acc = pd.DataFrame(df_2018.groupby("관할서", sort = True).count()["date"]).reset_index().rename(columns = {"date":"18_acc_cnt"})
df_19_acc = pd.DataFrame(df_2019.groupby("관할서", sort = True).count()["date"]).reset_index().rename(columns = {"date":"19_acc_cnt"})
df_20_acc = pd.DataFrame(df_2020.groupby("관할서", sort = True).count()["date"]).reset_index().rename(columns = {"date":"20_acc_cnt"})

In [48]:
## 18, 19년 병합 후 파일 생성
pd.merge(df_18_acc, df_19_acc, on = "관할서").to_csv("전처리완성본/11_관할서별_교통사고건수")

In [49]:
##20년도 파일 따로 저장
df_20_acc.to_csv("20년도_예측을위한_변수data/20년도_관할서별_교통사고 건수")